{% extends 'base.html.twig' %}

{% block title %}Редактирование Пользователя{% endblock %}

{% block body %}
    <h1>Редактирование Пользователя</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Обновить'}) }}

    <a href="{{ path('user_show', {'id': user.id}) }}">Назад</a>
{% endblock %}
